
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="Groups">Groups</h1>
    <div class="gt-breadcrumbs">
        <ul>
            <li> <a href="#" class="active"> <i class="fas fa-home"></i> Home </a> </li>
            <li> <a href="#"> Pages </a> </li>
            <li> <a href="#"> Groups </a> </li>
        </ul>
    </div>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content innerpagebg wf100">
    <!--team Page Start-->
    <div class="team wf100 p80">
        <!--Start-->
        <div class="matach-groups">
            <div class="container">
                <div class="row">
                    <!--col start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="group-box">
                            <h6>Group A</h6>
                            <ul>
                                <li><img src="assets-front/images/flags/ru-flag.jpg" alt="">Russia </li>
                                <li><img src="assets-front/images/flags/sa-flag.jpg" alt="">Saudia Arabia </li>
                                <li><img src="assets-front/images/flags/eg-flag.jpg" alt="">Egypt</li>
                                <li><img src="assets-front/images/flags/ur-flag.jpg" alt="">Uruguay</li>
                            </ul>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="group-box">
                            <h6>Group B</h6>
                            <ul>
                                <li><img src="assets-front/images/flags/por-flag.jpg" alt="">Portugal</li>
                                <li><img src="assets-front/images/flags/sp-flag.jpg" alt="">Spain</li>
                                <li><img src="assets-front/images/flags/moro-flag.jpg" alt="">Morocco</li>
                                <li><img src="assets-front/images/flags/ir--flag.jpg" alt="">IR Iran</li>
                            </ul>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="group-box">
                            <h6>Group C</h6>
                            <ul>
                                <li><img src="assets-front/images/flags/fr-flag.jpg" alt="">France</li>
                                <li><img src="assets-front/images/flags/aus-flag.jpg" alt="">Australia</li>
                                <li><img src="assets-front/images/flags/peru-flag.jpg" alt="">Peru</li>
                                <li><img src="assets-front/images/flags/den-flag.jpg" alt="">Denmark</li>
                            </ul>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="group-box">
                            <h6>Group D</h6>
                            <ul>
                                <li><img src="assets-front/images/flags/arg-flag.jpg" alt="">Argentina</li>
                                <li><img src="assets-front/images/flags/ice-flag.jpg" alt="">Iceland</li>
                                <li><img src="assets-front/images/flags/cro-flag.jpg" alt="">Croatia</li>
                                <li><img src="assets-front/images/flags/niger-flag.jpg" alt="">Nigeria</li>
                            </ul>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="group-box">
                            <h6>Group E</h6>
                            <ul>
                                <li><img src="assets-front/images/flags/braz-flag.jpg" alt="">Brazil</li>
                                <li><img src="assets-front/images/flags/swit-flag.jpg" alt="">Switzerland</li>
                                <li><img src="assets-front/images/flags/cr-flag.jpg" alt="">Costa Rica</li>
                                <li><img src="assets-front/images/flags/serbia-flag.jpg" alt="">Serbia</li>
                            </ul>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="group-box">
                            <h6>Group F</h6>
                            <ul>
                                <li><img src="assets-front/images/flags/ger-flag.jpg" alt="">Germany</li>
                                <li><img src="assets-front/images/flags/mexi-flag.jpg" alt="">Mexico</li>
                                <li><img src="assets-front/images/flags/swe-flag.jpg" alt="">Sweden</li>
                                <li><img src="assets-front/images/flags/korea-flag.jpg" alt="">Korea Rep</li>
                            </ul>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="group-box">
                            <h6>Group G</h6>
                            <ul>
                                <li><img src="assets-front/images/flags/bel-flag.jpg" alt="">Belgium</li>
                                <li><img src="assets-front/images/flags/pana-flag.jpg" alt="">Panama</li>
                                <li><img src="assets-front/images/flags/tuni-flag.jpg" alt="">Tunisia</li>
                                <li><img src="assets-front/images/flags/eng-flag.jpg" alt="">England</li>
                            </ul>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="group-box">
                            <h6>Group H</h6>
                            <ul>
                                <li><img src="assets-front/images/flags/pol-flag.jpg" alt="">Poland</li>
                                <li><img src="assets-front/images/flags/sen-flag.jpg" alt="">Senegal</li>
                                <li><img src="assets-front/images/flags/col-flag.jpg" alt="">Columbia</li>
                                <li><img src="assets-front/images/flags/jp-flag.jpg" alt="">Japan</li>
                            </ul>
                        </div>
                    </div>
                    <!--col end-->
                </div>
            </div>
        </div>
        <!--End-->
    </div>
    <!--team Page End-->
</div>
<!--Main Content End--> 