
@{
    ViewBag.Title = "TeamPlayer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="Players Squad">Players Squad</h1>
    <div class="gt-breadcrumbs">
        <ul>
            <li> <a href="#" class="active"> <i class="fas fa-home"></i> Home </a> </li>
            <li> <a href="#"> Team </a> </li>
            <li> <a href="#"> Team Grid </a> </li>
        </ul>
    </div>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content innerpagebg wf100">

    <!--Product Page Start-->
    <div class="team wf100 p80">

        <!--Banners Start-->
        <div class="player-squad">
            <div class="container">
                <div class="row">



                    <!--Player Box Start-->
                    <div class="col-md-6">
                        <div class="player-box with-extra-info">
                            <div class="player-thumb"><img src="~/assets-front/images/player4.png" alt=""></div>
                            <div class="player-txt">
                                <h3>Dewey Mason</h3>
                                <strong class="player-desi">Head Coach</strong>
                                <p> Hi, I am Gerrysson Ramsy the team captain of the soccer club. </p>

                                <ul class="pb-small-info">
                                    <li>Nationality   <strong><img src="~/assets-front/images/france.jpg" alt=""> France</strong></li>
                                    <li>Age <strong>51</strong></li>
                                    <li>Current Team <strong>Soccer Team</strong></li>
                                    <li>Past Teams <strong>FU, BZU Team</strong></li>
                                    <li>Seasons <strong>2015, 2018, 2020</strong></li>
                                </ul>
                                <a href="#" class="follow">Follow</a>
                            </div>
                        </div>
                    </div>
                    <!--Player Box End-->
                    <!--Player Box Start-->
                    <div class="col-md-6">
                        <div class="player-box">
                            <div class="player-thumb"><img src="~/assets-front/images/player3.png" alt=""></div>
                            <div class="player-txt">
                                <span class="star-tag"><i class="fas fa-star"></i></span>
                                <h3>Jaun Carry</h3>
                                <strong class="player-desi">Goal Keeper</strong>
                                <p> Hi, I am Jaun Carry the team captain of the soccer club.</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                                <a class="playerbio" href="#">Player Biography <i class="far fa-arrow-alt-circle-right"></i></a> <a href="#" class="follow">Follow</a>
                            </div>
                        </div>
                    </div>
                    <!--Player Box End-->



                </div>
            </div>
        </div>
        <!--Banners End-->
        <!--Products Filter Start-->
        <div class="team-grid">
            <div class="container">
                <div class="row">

                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">03</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Ramsy Geordion</h4>
                                <p>League Captain</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer5.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">04</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Kevin Rob</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer6.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">05</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Smith Ross</h4>
                                <p>Goal Keeper</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer5.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">06</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Williams Lee</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer6.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">07</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Phillips Hunt</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer6.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">08</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Jordan Grand</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer5.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">09</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Harry Simon</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer6.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">10</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Billy Connor</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer5.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">11</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Callum Mark</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer5.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">12</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Stewart Paul</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer6.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">13</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Carl Martin</h4>
                                <p>Defender</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer5.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->
                    <!--Team Box Start-->
                    <div class="col-lg-3 col-md-6">
                        <div class="team-squad-box">
                            <div class="num">14</div>
                            <span class="star-tag"><i class="fas fa-star"></i></span> <a href="#" class="follow">Follow</a>
                            <div class="ts-cap">
                                <h4>Ramsy Geordion</h4>
                                <p>League Captain</p>
                                <ul>
                                    <li>29 <span>Age</span></li>
                                    <li>87 <span>matches</span></li>
                                    <li>113 <span>Goals</span></li>
                                    <li>87 <span>matches</span></li>
                                </ul>
                            </div>
                            <img src="~/assets-front/images/tplayer6.jpg" alt="">
                        </div>
                    </div>
                    <!--Team Box End-->


                </div>

                <div class="row">
                    <div class="gt-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"> <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a> </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"> <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <!--Products Filter End-->

    </div>
    <!--Product Page End-->

</div>
<!--Main Content End--> 