
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Main Slider Start-->
<div class="inner-banner-header wf100">
    <h1 data-generated="Match Result">Match Result</h1>
    <div class="gt-breadcrumbs">
        <ul>
            <li> <a href="#" class="active"> <i class="fas fa-home"></i> Home </a> </li>
            <li> <a href="#"> Match Result </a> </li>
        </ul>
    </div>
</div>
<!--Main Slider Start-->
<!--Main Content Start-->
<div class="main-content innerpagebg wf100">
    <!--Match Result Start-->
    <div class="match-results wf100 p80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!--Box Start-->
                    <div class="group-result">
                        <div class="nms-title">
                            <h4>24 May, 2020 | <span>Super Euro League</span></h4>
                        </div>
                        <div class="last-match-result-full-light">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="match-left">
                                        <div class="mtl-left"> <img src="assets-front/images/mlogo1.png" alt=""> <strong>North Carolina</strong> </div>
                                        <div class="mscore"> <strong>2</strong> loss </div>
                                        <ul>
                                            <li>Charlie Darren <span>(1 goal)</span></li>
                                            <li>kevin Jamie <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="lmr-info">
                                        <strong>Super Euro League</strong>
                                        <p>Indy Eleven Qualified for Semi Final</p>
                                        <img src="assets-front/images/sp.png" alt="">
                                        <p>17 October, 2020</p>
                                        <p>New Expo Stadium, NYK</p>
                                        <a href="#" class="mh">Match Highlights</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="match-right">
                                        <div class="mscore"> <strong>3</strong> Win </div>
                                        <div class="mtl-right"> <img src="assets-front/images/mlogo2.png" alt=""> <strong>Indy Eleven</strong> </div>
                                        <ul>
                                            <li> Jon Taylor <span>(1 goal)</span></li>
                                            <li> Steven Dean <span>(1 goal)</span></li>
                                            <li> Smith Ross <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Box End-->
                        <!--Box Start-->
                        <div class="last-match-result-full-light">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="match-left">
                                        <div class="mtl-left"> <img src="assets-front/images/mlogo1.png" alt=""> <strong>North Carolina</strong> </div>
                                        <div class="mscore"> <strong>2</strong> loss </div>
                                        <ul>
                                            <li>Charlie Darren <span>(1 goal)</span></li>
                                            <li>kevin Jamie <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="lmr-info">
                                        <strong>Super Euro League</strong>
                                        <p>Indy Eleven Qualified for Semi Final</p>
                                        <img src="assets-front/images/sp.png" alt="">
                                        <p>17 October, 2020</p>
                                        <p>New Expo Stadium, NYK</p>
                                        <a href="#" class="mh">Match Highlights</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="match-right">
                                        <div class="mscore"> <strong>3</strong> Win </div>
                                        <div class="mtl-right"> <img src="assets-front/images/mlogo2.png" alt=""> <strong>Indy Eleven</strong> </div>
                                        <ul>
                                            <li> Jon Taylor <span>(1 goal)</span></li>
                                            <li> Steven Dean <span>(1 goal)</span></li>
                                            <li> Smith Ross <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Box End-->
                        <!--Box Start-->
                        <div class="last-match-result-full-light">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="match-left">
                                        <div class="mtl-left"> <img src="assets-front/images/mlogo1.png" alt=""> <strong>North Carolina</strong> </div>
                                        <div class="mscore"> <strong>2</strong> loss </div>
                                        <ul>
                                            <li>Charlie Darren <span>(1 goal)</span></li>
                                            <li>kevin Jamie <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="lmr-info">
                                        <strong>Super Euro League</strong>
                                        <p>Indy Eleven Qualified for Semi Final</p>
                                        <img src="assets-front/images/sp.png" alt="">
                                        <p>17 October, 2020</p>
                                        <p>New Expo Stadium, NYK</p>
                                        <a href="#" class="mh">Match Highlights</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="match-right">
                                        <div class="mscore"> <strong>3</strong> Win </div>
                                        <div class="mtl-right"> <img src="assets-front/images/mlogo2.png" alt=""> <strong>Indy Eleven</strong> </div>
                                        <ul>
                                            <li> Jon Taylor <span>(1 goal)</span></li>
                                            <li> Steven Dean <span>(1 goal)</span></li>
                                            <li> Smith Ross <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Box End-->
                    </div>
                    <div class="group-result">
                        <div class="nms-title">
                            <h4>17 June, 2020 | <span>Super Euro League</span></h4>
                        </div>
                        <!--Box Start-->
                        <div class="last-match-result-full-light">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="match-left">
                                        <div class="mtl-left"> <img src="assets-front/images/mlogo1.png" alt=""> <strong>North Carolina</strong> </div>
                                        <div class="mscore"> <strong>2</strong> loss </div>
                                        <ul>
                                            <li>Charlie Darren <span>(1 goal)</span></li>
                                            <li>kevin Jamie <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="lmr-info">
                                        <strong>Super Euro League</strong>
                                        <p>Indy Eleven Qualified for Semi Final</p>
                                        <img src="assets-front/images/sp.png" alt="">
                                        <p>17 October, 2020</p>
                                        <p>New Expo Stadium, NYK</p>
                                        <a href="#" class="mh">Match Highlights</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="match-right">
                                        <div class="mscore"> <strong>3</strong> Win </div>
                                        <div class="mtl-right"> <img src="assets-front/images/mlogo2.png" alt=""> <strong>Indy Eleven</strong> </div>
                                        <ul>
                                            <li> Jon Taylor <span>(1 goal)</span></li>
                                            <li> Steven Dean <span>(1 goal)</span></li>
                                            <li> Smith Ross <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Box End-->
                        <!--Box Start-->
                        <div class="last-match-result-full-light">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="match-left">
                                        <div class="mtl-left"> <img src="assets-front/images/mlogo1.png" alt=""> <strong>North Carolina</strong> </div>
                                        <div class="mscore"> <strong>2</strong> loss </div>
                                        <ul>
                                            <li>Charlie Darren <span>(1 goal)</span></li>
                                            <li>kevin Jamie <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="lmr-info">
                                        <strong>Super Euro League</strong>
                                        <p>Indy Eleven Qualified for Semi Final</p>
                                        <img src="assets-front/images/sp.png" alt="">
                                        <p>17 October, 2020</p>
                                        <p>New Expo Stadium, NYK</p>
                                        <a href="#" class="mh">Match Highlights</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="match-right">
                                        <div class="mscore"> <strong>3</strong> Win </div>
                                        <div class="mtl-right"> <img src="assets-front/images/mlogo2.png" alt=""> <strong>Indy Eleven</strong> </div>
                                        <ul>
                                            <li> Jon Taylor <span>(1 goal)</span></li>
                                            <li> Steven Dean <span>(1 goal)</span></li>
                                            <li> Smith Ross <span>(1 goal)</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Box End-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <!--widget start-->
                        <div class="widget sidebar-ad"> <img src="assets-front/images/sideadbanner1.png" alt=""> </div>
                        <!--widget end-->
                        <!--widget start-->
                        <div class="widget">
                            <h4>Featured Videos</h4>
                            <div class="featured-video-widget">
                                <div class="fvideo-box mb15">
                                    <div class="fvid-cap">
                                        <a class="vicon" href="#"><img src="assets-front/images/play.png" alt=""></a>
                                        <div class="fvid-right">
                                            <h5><a href="#">Success is a Result of Hard Work </a></h5>
                                            <span><i class="far fa-clock"></i> 4:32</span> <span><i class="far fa-eye"></i> 174</span>
                                        </div>
                                    </div>
                                    <img src="assets-front/images/fvid1.jpg" alt="">
                                </div>
                                <div class="fvideo-box">
                                    <div class="fvid-cap">
                                        <a class="vicon" href="#"><img src="assets-front/images/play.png" alt=""></a>
                                        <div class="fvid-right">
                                            <h5><a href="#">Success is a Result of Hard Work </a></h5>
                                            <span><i class="far fa-clock"></i> 4:32</span> <span><i class="far fa-eye"></i> 174</span>
                                        </div>
                                    </div>
                                    <img src="assets-front/images/fvid2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!--widget end-->
                        <!--widget start-->
                        <div class="widget">
                            <h4>Top Stories</h4>
                            <div class="top-stories-widget">
                                <div id="top-stories" class="owl-carousel owl-theme">
                                    <!--Slide 1 Start-->
                                    <div class="item">
                                        <ul class="top-stories">
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">Success is not Accident it’s a Result of Hard Work </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">Toon stage injury-time come back at Everton </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">League continues support for Rainbow Laces </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">Tigers would’ve ‘loved’ to play for Tigers </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                        </ul>
                                    </div>
                                    <!--Slide 1 End-->
                                    <!--Slide 2 Start-->
                                    <div class="item">
                                        <ul class="top-stories">
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">FC Champs will learn from Tigers mistake </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">Toon stage injury-time come back at Everton </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">Tigers would’ve ‘loved’ to play for Tigers </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">
                                                            Success is not Accident
                                                            it’s a Result of Hard Work
                                                        </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                        </ul>
                                    </div>
                                    <!--Slide 2 End-->
                                    <!--Slide 3 Start-->
                                    <div class="item">
                                        <ul class="top-stories">
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">
                                                            Success is not Accident
                                                            it’s a Result of Hard Work
                                                        </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">
                                                            Success is not Accident
                                                            it’s a Result of Hard Work
                                                        </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">
                                                            Success is not Accident
                                                            it’s a Result of Hard Work
                                                        </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                            <!--Story Start-->
                                            <li class="story-row">
                                                <div class="ts-thumb"><img src="assets-front/images/tsimg1.jpg" alt=""> </div>
                                                <div class="ts-txt">
                                                    <h5>
                                                        <a href="#">
                                                            Success is not Accident
                                                            it’s a Result of Hard Work
                                                        </a>
                                                    </h5>
                                                    <ul class="tsw-meta">
                                                        <li><a href="#">NFL League</a></li>
                                                        <li>12 Mar, 2020</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!--Story End-->
                                        </ul>
                                    </div>
                                    <!--Slide 3 End-->
                                </div>
                            </div>
                        </div>
                        <!--widget end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Match Result End-->
</div>
<!--Main Content End-->
