@{
    //ViewBag.Title = "Home Page";
    Layout = null;
}
<!--Main Slider Start-->
<div class="match-header upcoming-match wf100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>Super Euro League</h5>
                <ul class="teamz">
                    <li class="mt-left"><img src="assets-front/images/mlogo1.png" alt=""> <strong>North Carolina</strong> </li>
                    <li class="mt-center-score">
                        <span class="vs">VS</span>
                        <ul class="up-match-meta">
                            <li><i class="fas fa-calendar-alt"></i> 17 October, 2020</li>
                            <li><i class="far fa-clock"></i> 04:00 PM GMT+</li>
                            <li><i class="fas fa-map-marker-alt"></i> New Expo Stadium, NYK</li>
                        </ul>
                    </li>
                    <li class="mt-right"> <img src="assets-front/images/mlogo2.png" alt=""> <strong>Indy Eleven</strong> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="match-counter">
        <div class="container">
            <div class="defaultCountdown"></div>
        </div>
    </div>
</div>
<!--Main Slider Start-->
